doctype
html
  head
    meta(charset='utf-8')
    title blogedit_tistory_api tester
  body
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io.connect('http://localhost:8005', {path:'/socket.io'})
      socket.on('test', function (data) {
        console.log(data)
        socketemit('reply', 'This is reply message')
      })
